// Reset the padding and margin
*{
    margin: 0;
    padding: 0;
}
.first{
    width:500px;
    height: 100px;
    background-color: #c4c4;
}

.second {
    width: 500px;
    height: 100px;
    background-color: #c4c4;
}
